<app-navadmin></app-navadmin>
<div class="container-fluid row mx-auto justify-content-lg-start justify-content-md-start justify-content-sm-center">
  <div class="card col-lg-2 col-md-4 col-sm-5 mx-1 my-1" *ngFor="let i of notices">
    <img [src]="i.img" class="card-img-top w-100" alt="img de la noticia">
    <div class="card-body">
      <h5 class="card-title">Titulo: {{i.titulo}}</h5>
      <p class="card-text">Autor: {{i.autor}}</p>
      <p class="card-text">Fecha: {{i.fecha}}</p>
      <div class="row">
        <div class="col">
          <a href="/admin/noticias/modificar" class="me-2 btn btn-warning">
            <i class="bi bi-pen-fill"></i>
          </a>
          <button (click)="delete(i)" data-bs-toggle="modal" data-bs-target="#delete" class="me-2 btn btn-danger" >
            <i class="bi bi-trash-fill"></i>
          </button>
          <button class="btn btn-primary" (click)="downloadImage(i.document)">
            <i class="bi bi-download"></i>
          </button>
        </div>
      </div>
      <app-delete (cerrar)="cerrarnoticia()"></app-delete>
    </div>
  </div>
