<app-navadmin></app-navadmin>
<div class="margin">
  <div class="wrapper">
    <form class="login mt-5" [formGroup]="update">
      <h5 class="title">Modificar noticia</h5>
      <input type="text" placeholder="Titulo" autofocus formControlName="titulo" value="titulo valor"/>
      <input type="text" placeholder="Autor"  formControlName="autor" value="autor valor"/>
      <input type="date" placeholder="fecha"  formControlName="fecha" value=""/>
      <p class="text-primary py-0 my-0">Archivo</p>
      <input type="file"  class="inputfile" class="form-control"formControlName="document" accept="application/pdf"/>
      <p class="text-primary py-0 my-0">Descripción</p>
      <textarea name="" id="" rows="5" formControlName="description" class="d-block"></textarea>
      <p class="text-primary py-0 my-0">Imagén</p>
      <input type="file"  class="inputfile" class="form-control"formControlName="img" accept="image/*" (change)="getImageData($event)"/>
      <img [src]="imgurl" alt="" class="w-100">
      <button (click)="updatenotice()" [disabled]="update.invalid">
        <i class="spinner"></i>
        <span class="state" >Agregar</span>
      </button>
    </form>
  </div>
</div>
